@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title = "Error";
    ViewBag.AuthBodyClass = "login-page";
}


<div class="login-box text-center">
    <div class="login-logo">
        <a href="#"><b><i class="fa fa-warning text-yellow"></i> Error</b></a>
    </div><!-- /.login-logo -->
    <p>
        An error occurred while processing your request. Please contact the administrator.
    </p>
</div>
